#BookOfTheMonth {
  width: 600px;
  height: 350px;
  text-overflow: hidden;
}

#BookOfTheMonth h2 {
  text-align: center;
}

#BookOfTheMonth img {
  float: left;
  margin-right: 20px;
}

#BookOfTheMonth p:last-child {
  overflow: hidden;
  display: -webkit-box;
  white-space: pre-line; /* html에서 줄바꿈 \n을 인식하지 못하는 것을 인식하도록 만들어 줌 */
  -webkit-line-clamp: 7; /* 최대 줄 길이 설정*/
  -webkit-box-orient: vertical; /* 어떤 식으로 정렬될 지 설정*/
  text-overflow: ellipsis;
}
