.title {
  text-align: center;
}

.bookStudy {
  margin: 0 auto;
  width: 800px;
  line-height: 250%;
}

.bookStudy p {
  text-align: center;
  border-bottom: 3px solid #dfdfdf;
}

.container {
  margin: 30px 0;
}

.subtitle {
  text-align: center;
}

.apply {
  display: block;
  margin: 10px auto;
  width: 250px;
  height: 45px;
  border: none;
  border-radius: 5px;
  background-color: #a98274;
  color: white;
  font-weight: bold;
  letter-spacing: 0.2em;
  cursor: pointer;
}
.apply:hover {
  background-color: #8d6e63;
}
.apply:active {
  background-color: #a98274;
}
