.schedule-title {
  text-align: center;
}

.schedule-calender {
  border: solid 1px black;
  border-collapse: collapse;
  text-align: center;
}

.schedule-calender caption {
  font-size: 15px;
}

.schedule-calender td {
  border: solid 1px black;
}

td.redDay {
  border: none;
  border: solid 3px red;
}

td.orangeDay {
  border: none;
  border: solid 3px orange;
}
