#calender {
  width: 600px;
  margin: auto;
}

#schedule {
  width: 600px;
}

.scheduleTitle {
  text-align: center;
}

.scheduleCalender {
  border: solid 1px black;
  border-collapse: collapse;
  text-align: center;
  width: 600px;
  height: 400px;
  margin: auto;
}

.scheduleCalender caption {
  font-size: 15px;
}

.scheduleCalender td {
  border: solid 1px black;
  text-align: left;
  vertical-align: top;
  width: 90px;
}

td.redDay {
  border: none;
  border: solid 3px red;
}

td.orangeDay {
  border: none;
  border: solid 3px orange;
}

td.greenDay {
  border: none;
  border: solid 3px green;
}

td#today::after {
  vertical-align: middle;
  text-align: center;
  font-size: 10px;
  content: "today";
}

#changeDay {
  margin: auto;
  text-align: center;
}

#changeDay label {
  margin-right: 10px;
}
