.slide-screen {
  margin: 10px auto;
  width: 770px;
  height: 400px;
  position: relative;
  overflow: overlay;
  background-color: burlywood;
  scroll-behavior: smooth;
}

.screen-helper1,
.screen-helper2 {
  width: 30px;
  height: 400px;
  position: absolute;
  top: 0;
}

.screen-helper1 {
  left: calc(50% - 400px);
  border-radius: 50% 0 0 50%;
  background-color: burlywood;
}
.screen-helper2 {
  right: calc(50% - 400px);
  border-radius: 40% 0 0 40%;
  background-color: white;
}

.movie-container {
  border: 1px solid orange;
  transition: transform 0.5s;
}

.movie {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px auto;
  width: 700px;
  height: 250px;
  background-color: white;
  opacity: 0.3;
  transition: opacity 0.3s;
}

.movie.start,
.movie.end {
  margin: 0 auto;
  height: 65px;
}

.movie.current {
  background-color: white;
  opacity: 1;
}

.movie-content {
  width: 450px;
}

.previous-btn {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.next-btn {
  position: absolute;
  bottom: 20px;
  right: 50%;
  transform: translateX(50%);
}
