#header-bottom {
  position: relative;
  z-index: 100;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  height: 50px;
  background-color: #a98274;
}

.sub-nav-bg {
  width: 100%;
  height: 40px;
  position: absolute;
  top: 50px;
  left: 0;
  box-shadow: 0 2px 4px #725b53;
  background-color: #be9c91;
  visibility: hidden;
}

.sub-nav-bg.is-active {
  visibility: visible;
}
