.navItem {
  margin: 0;
  padding: 15px 30px;
  height: 50px;
  float: left;
  position: relative;
  color: white;
  cursor: default;
  font-size: 18px;
}
.navItem:hover {
  border-bottom: 5px solid #795548;
}
