.subNav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 510px;
  height: 40px;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
}

.subNavItem {
  margin: 0 15px;
  float: left;
  color: white;
  cursor: pointer;
}
.subNavItem:hover {
  color: #3e2723;
}
.subNav.isActive {
  visibility: visible;
}
