.util {
  display: flex;
  justify-content: flex-end;
  margin: 5px 0 0 0;
  padding: 0 100px;
  height: 40px;
  line-height: 30px;
}

.util-item {
  margin: 0;
  padding: 5px 10px;
  float: left;
  color: #3e2723;
  font-size: 13px;
}
.util-item:hover { background-color: #efebe9; }