#warning {
  margin: 10px auto;
  width: 800px;
  border: 1px solid red;
  text-align: center;
}

button#to-login {
  display: inline-block;
  margin: 10px;
  width: 150px;
  height: 45px;
  border: none;
  border-radius: 5px;
  background-color: #a98274;
  color: white;
  font-weight: bold;
  letter-spacing: 0.2em;
  cursor: pointer;
}
button#to-login:hover {
  background-color: #8d6e63;
}
button#to-login:active {
  background-color: #a98274;
}
