#promotion {
  width: 900px;
  margin: auto;
}

#promotion h2 {
  text-align: center;
  margin-top: 50px;
}

#promotion p {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

#promotion input {
  display: block;
  margin-bottom: 10px;
  width: 300px;
}

#promotion label {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

#promotion button {
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

#bookOfTheMonthUpdate {
  width: 900px;
  margin: auto;
}

#bookOfTheMonthUpdate h3 {
  text-align: center;
  margin-top: 50px;
}

#bomSearch select {
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

#bomSearch button {
  display: block;
  margin: auto;
}

#bookOfTheMonthForm input {
  display: block;
  margin-bottom: 10px;
}

#bookOfTheMonthForm label {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

#bookOfTheMonthForm button {
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#inquiryCheck {
  width: 900px;
  margin: auto;
}

.title {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 50px;
}

.content {
  margin-bottom: 50px;
  border-top: 1px black solid;
}

.content button {
  display: block;
}
