.inquiry-btn {
  display: block;
  width: 120px;
  height: 40px;
  color: white;
  font-weight: bold;
  letter-spacing: 0.2em;
  border: none;
  border-radius: 5px;
  background-color: #a98274;
  cursor: pointer;
}
.inquiry-btn:hover {
  background-color: #8d6e63;
}
.inquiry-btn:active {
  background-color: #a98274;
}
