#local-programs {
  margin: 50px auto;
}

.titles ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  width: 800px;
  border: 3px solid #dfdfdf;
  border-radius: 5px;
}

.title {
  width: 50%;
  height: 55px;
  padding: 15px 40px;
  font-size: large;
  color: white;
  font-weight: bold;
  letter-spacing: 1em;
  text-align: center;
  cursor: pointer;
  background-color: #d3b8ae;
}

.title.is-active {
  background-color: #795548;
}
