#login-form {
  margin: 50px auto;
  padding: 30px 15px;
  width: 400px;
  border: 2px solid #8c7b75;
  border-radius: 4px;
}

#login-form .container {
  margin: 0 auto;
  width: 300px;
}

.user-id,
.user-pw {
  margin: 5px 0;
  padding: 5px;
  width: 300px;
  height: 40px;
  border: 3px solid #dfdfdf;
  border-radius: 5px;
}

.login-failed {
  display: block;
  margin: 5px 0;
  font-size: 12px;
  color: tomato;
}

.login-btn {
  display: block;
  margin: 10px auto;
  width: 300px;
  height: 45px;
  border: none;
  border-radius: 5px;
  background-color: #a98274;
  color: white;
  font-weight: bold;
  letter-spacing: 0.2em;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #8d6e63;
}
.login-btn:active {
  background-color: #a98274;
}

.find-info {
  margin: 0 auto;
  width: 300px;
  text-align: center;
}

.find-id,
.find-pw {
  margin: 0 10px;
  color: #8c7b75;
  font-size: 12px;
  text-decoration: underline;
}
.find-bar {
  color: #8c7b75;
  font-size: 13px;
}
