.pageContainer {
  width: 1000px;
  margin: auto;
}
.submitBtns button {
  display: block;
  margin: auto;
  margin-bottom: 30px;
}

.submitBtns .changeInput {
  display: block;
  margin: 30px auto;
  text-align: center;
}

.submitBtns .changeInput label {
  margin-right: 20px;
}

.programContainer {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.programContainer p {
  font-size: 18px;
}

.programTitle {
  margin-bottom: 50px;
}

.seasonTheme,
.seasonInfo {
  width: 750px;
  margin: 50px auto;
  line-height: 250%;
}

.seasonTheme {
  text-align: center;
}
