.notice {
  margin: 50px auto;
  width: 750px;
}

.notice-info {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #dfdfdf;
}

.notice-title {
  display: inline-block;
  flex-basis: 75%;
}

.date {
  flex-basis: 15%;
  text-align: center;
}
.writer {
  flex-basis: 10%;
  text-align: center;
}

.back-to-notice-list {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 45px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.4em;
  border: none;
  border-radius: 5px;
  background-color: #a98274;
  cursor: pointer;
}
.back-to-notice-list:hover {
  background-color: #8d6e63;
}
.back-to-notice-list:active {
  background-color: #a98274;
}
