.page-title {
  text-align: center;
  margin: 50px;
}

.list-title {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 700px;
  font-weight: bold;
  border: 3px solid #dfdfdf;
}

.notice-list {
  margin: 10px auto;
  padding: 10px 0;
  width: 700px;
  border: 3px solid #dfdfdf;
}

.notice-item {
  display: flex;
  align-items: center;
  width: 694px;
}

.number,
.title,
.writer {
  display: inline-block;
  height: 40px;
  line-height: 30px;
  padding: 5px 10px;
}

.number {
  border-right: 2px solid #dfdfdf;
  flex-basis: 10%;
  text-align: center;
}

.title {
  flex-basis: 70%;
  border-right: 2px solid #dfdfdf;
}

.writer {
  flex-basis: 20%;
  text-align: center;
}

#noticeForAdmin {
  width: 700px;
  margin: auto;
}

.noticeBtn {
  display: block;
  margin: auto;
}

#noticeForAdmin input {
  margin-top: 50px;
  margin-bottom: 20px;
}

#noticeForAdmin label {
  margin-right: 20px;
}

#newNotice textarea {
  padding: 10px;
}

#removeNoticeForm {
  margin: auto;
}
