.notice-list-page {
  text-align: center;
}

.notice-list {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: 10px auto;
  width: 700px;
  border: 1px solid black;
}

.notice-item {
  border: 1px solid red;
}

.notice-item > * {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin: 0 5px;
  padding: 0 3px;
}

.notice-item .number {
  width: 80px;
  border: 1px solid brown;
}

.notice-item .title {
  width: 480px;
  border: 1px solid orange;
}

.notice-item .writer {
  width: 85px;
}
