#titleText {
  text-align: center;
  margin: 50px 0px;
  line-height: 250%;
}
#titleText h1 {
  margin-bottom: 50px;
}

#subjectButtons {
  display: grid;
  width: 1000px;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px 200px;
  align-items: center;
  justify-items: center;
}

#subjectButtons .btn {
  padding: 10px;
  cursor: pointer;
  text-align: center;
}
#subjectButtons .btn:hover {
  background-color: #eee;
}

#subjectButtons img,
#subjectButtons span {
  display: block;
  margin: 5px;
}

#총류 {
  grid-column: 1/2;
  grid-row: 1/2;
}
#철학 {
  grid-column: 2/3;
  grid-row: 1/2;
}
#종교 {
  grid-column: 3/4;
  grid-row: 1/2;
}
#사회과학 {
  grid-column: 4/5;
  grid-row: 1/2;
}
#자연과학 {
  grid-column: 5/6;
  grid-row: 1/2;
}
#기술과학 {
  grid-column: 1/2;
  grid-row: 2/3;
}
#예술 {
  grid-column: 2/3;
  grid-row: 2/3;
}
#언어 {
  grid-column: 3/4;
  grid-row: 2/3;
}
#문학 {
  grid-column: 4/5;
  grid-row: 2/3;
}
#역사 {
  grid-column: 5/6;
  grid-row: 2/3;
}

.searchedBooks {
  margin: 50px auto;
}

.searchedBooks h2 {
  margin: 50px auto 30px auto;
  padding: 50px;
  width: 800px;
  text-align: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
