#detailedSearchtext {
  text-align: center;
}

#detailedSearchForm {
  border: 1px solid black;
  width: 50%;
  margin: auto;
  padding: 30px 20px;
  font-size: 20px;
}

#detailedSearchForm input {
  margin-bottom: 20px;
  font-size: 20px;
}

#detailedSearchForm button {
  background-color: burlywood;
  border-radius: 20px;
  border: none;
  text-align: center;
  padding: 10px;
  width: 150px;
  height: 50px;
  font-size: 15px;
  margin-left: 40%;
  margin-bottom: 30px;
}

#detailedSearchForm button:hover {
  background-color: rgba(222, 184, 135, 0.692);
}
