#detailedSearchText {
  text-align: center;
  line-height: 250%;
  margin: 50px 0px;
}

#detailedSearchText h1 {
  margin-bottom: 50px;
}

#detailedSearchForm {
  margin: auto;
  padding: 40px 30px;
  width: 50%;
  border: 1px solid black;
}

#detailedSearchForm .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  width: 350px;
}

#detailedSearchForm label {
  font-size: 20px;
}

#detailedSearchForm button {
  display: block;
  margin: 10px auto;
  width: 250px;
  height: 45px;
  font-weight: bold;
  letter-spacing: 0.4em;
}

#detailedSearchForm button:hover {
  background-color: #8d6e63;
}
#detailedSearchForm button:active {
  background-color: #a98274;
}
