#detailedSearchtext {
  text-align: center;
  line-height: 250%;
  margin: 50px 0px;
}

#detailedSearchtext h1 {
  margin-bottom: 50px;
}

#detailedSearchtext p {
  font-size: 18px;
}

#detailedSearchForm {
  border: 1px solid black;
  width: 50%;
  margin: auto;
  padding: 30px 20px;
  font-size: 20px;
}

#detailedSearchForm input {
  margin-bottom: 20px;
  font-size: 20px;
}

#detailedSearchForm button {
  display: block;
  margin: 10px auto;
  width: 250px;
  height: 45px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1em;
}

#detailedSearchForm button:hover {
  background-color: #8d6e63;
}
#detailedSearchForm button:active {
  background-color: #a98274;
}

#detailedSearchForm .container {
  display: flex;
  justify-content: space-between;
  width: 350px;
}
